################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppNumeroDaSorte/obj/Debug/net7.0-android/AppNumeroDaSorte.assets.cache
/AppNumeroDaSorte/obj/Debug/net7.0-ios/iossimulator-arm64/AppNumeroDaSorte.assets.cache
/AppNumeroDaSorte/obj/Debug/net7.0-maccatalyst/maccatalyst-x64/AppNumeroDaSorte.assets.cache
/AppNumeroDaSorte/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/AppNumeroDaSorte.assets.cache
/AppNumeroDaSorte/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/apphost.exe
/AppNumeroDaSorte/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/AppNumeroDaSorte.csproj.AssemblyReference.cache
/AppNumeroDaSorte/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/AppNumeroDaSorte.csproj.FileListAbsolute.txt
/AppNumeroDaSorte/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.g.cs
/AppNumeroDaSorte/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/XamlSaveStateFile.xml
/AppNumeroDaSorte/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/XamlTypeInfo.g.cs
/AppNumeroDaSorte/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/AppNumeroDaSorte.build.appxrecipe
/AppNumeroDaSorte/obj/Debug/net7.0-android/AppNumeroDaSorte.csproj.FileListAbsolute.txt
/AppNumeroDaSorte/obj/Debug/net7.0-android/designtime/Resource.designer.cs
/AppNumeroDaSorte/obj/Debug/net7.0-ios/iossimulator-arm64/AppNumeroDaSorte.csproj.FileListAbsolute.txt
/AppNumeroDaSorte/obj/Debug/net7.0-maccatalyst/maccatalyst-x64/AppNumeroDaSorte.csproj.FileListAbsolute.txt
/AppNumeroDaSorte/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/intermediatexaml/AppNumeroDaSorte.dll
/AppNumeroDaSorte/.vs/AppNumeroDaSorte/v17/.futdcache.v2
